<!DOCTYPE HTML>
<html>
  <head>
    <title>LeanEngine 搭建 OAuth 回调服务器示例</title>
    <link href="//cdn.bootcss.com/flat-ui/2.2.2/css/vendor/bootstrap.min.css" rel="stylesheet">
    <link href="//cdn.bootcss.com/flat-ui/2.2.2/css/flat-ui.min.css" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <form class="form-signin">
        <h2 class="form-signin-heading">微博登录示例</h2>
        <a class="btn btn-primary btn-large btn-block" href="/weibo/auth">微博登录</a>
      </form>

    </div> <!-- /container -->
</html>
