<!DOCTYPE HTML>
<html>
  <head>
    <title>分享</title>
        <link href="//cdn.bootcss.com/flat-ui/2.2.2/css/vendor/bootstrap.min.css" rel="stylesheet">
        <link href="//cdn.bootcss.com/flat-ui/2.2.2/css/flat-ui.min.css" rel="stylesheet">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <div class="container">
    <div class="row">
        <div class="col-md-12">
          <h4>分享</h4>
          <form action="post" class="form" method="post">
            <div class="form-group">
              <textarea class="form-control" name="status" rows="3">
              我正在使用 LeanEngine 搭建微博 OAuth 回调服务器，详情请戳连接：https://leancloud.cn/docs/webhosting_oauth.html， @LeanCloud</textarea>
            </div>
            <div class="row">
              <div class="col-md-12">
                <button class="btn btn-primary btn-lg btn-block" type="submit">分享到微博</button>
              </div>
              </div>
          </form>
        </div>
      </div>
    </div>
  </body>
  <script src="//cdn.bootcss.com/flat-ui/2.2.2/js/flat-ui.min.js"></script>
  <script src="//cdn.bootcss.com/flat-ui/2.2.2/js/vendor/jquery.min.js"></script>
</html>
